<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Movie Count</th>
      <th>Public/Private</th>
      <th>View</th>
      <th>Owner</th>
      <th>Manage</th>
    </tr>
  </thead>
  <tbody>
    <% lists.order(name: :asc).each do |list| %>
      <%= render 'lists/list', list: list %>
    <% end %>
  </tbody>
</table>
