<% content_for(:title, "My Lists") %>

<h1>My Movie Lists</h1>

<%= link_to 'New List'.html_safe, new_user_list_path(current_user), class: 'btn' %></p>

<%= render 'lists/list_index', lists: @lists %>
