<% content_for(:title, "My Lists") %>

<h1>My Movie Lists</h1>

<%= link_to 'New List'.html_safe, new_user_list_path(current_user), class: 'btn' %></p>

<div class="lists-container mt-10">
  <div class="list"><%= link_to 'My Top-Rated Movies', user_ratings_path(current_user) %></div>
  <% @lists.order(name: :asc).each do |list| %>
    <div class="list">
      <%= link_to list.name.titlecase, user_list_path(list.owner, list) %>
      (<%= @list_movie_count[list.id] %>)
    </div>
  <% end %>
</div>
