<% content_for(:title, "My Lists") %>

<div class="row">
  <h1>My Movie Lists</h1>

  <div class="pull-right">
     <p class="button-main"><%= link_to '<i class="fa fa-plus"></i> New List'.html_safe, new_user_list_path(current_user) %></p>
  </div> <!-- pull-right -->
</div> <!-- row -->

<%= render "lists/list" %>

