<% content_for(:title, "Public Lists") %>

<h2>Browse lists other users have compiled.</h2>

<%= link_to 'New List', new_user_list_path(current_user), class: 'btn' %>

<%= render "lists/list_index", lists: @lists %>

<%= will_paginate @lists %>
