<h1>Public lists page: Browse lists other users have created.</h1>

<% @lists.each do |list| %>
  <p>List name: <%= link_to "#{list.name}", user_list_path(user_id: list.owner.slug, id: list.slug) %></p>
  <p>Movies in list: <%= list.movies.size %></p>
  <p>List owner: <%= list.owner.username %></p>
<% end %>

<p><%= will_paginate @lists %></p>