<h1>List Name: <%= @list.name %></h1>
<br>

  <div id ="public_search_loop">
    <%= render partial: 'movies/movie_partial_loop', object: @movies %>
  </div>

  <div class="row tile-container">
   <center>
    <div class="pagination">
      <p><%= will_paginate @movies %></p>
    </div><!-- pagination -->
  </center>
</div>