<% content_for(:title, "Public Lists") %>

<p id="notice"><%= notice %></p>
<div class="row">
  <h1>Public Movie Lists</h1>
  <h2>This page shows all users' lists that are marked as public.</h2>


  <div class="pull-right">
     <p class="button-main"><%= link_to ' New List', new_user_list_path(current_user), id: "new_list_link_list_index", class: "fa fa-plus" %></p>
  </div> <!-- pull-right -->
</div> <!-- row -->

  <%= render "lists/list" %>

<p><%= will_paginate @lists %></p>