<% content_for(:title, "Editing") %>

<h1>Editing Your <%= @screening.date_watched %> Screening</h1>

<%= render 'form' %>

<p class="button-main">
  <%= link_to 'Back To Screenings', movie_screenings_path(@movie) %>
  <%= link_to 'Back To ' + @movie.title, movie_path(@movie) %>
</p>
