<% content_for(:title, "Add a Screening") %>

<h1>New Screening</h1>

<%= render partial: 'form', locals: { movie: @movie, screening: @screening } %>

<p class="button-main">
  <%= link_to 'See All Screenings', movie_screenings_path(@movie) %>
  <%= link_to 'Back To ' + @movie.title, movie_path(@movie) %>
</p>
