<% content_for(:title, "Add a Screening") %>

<h1>New Screening for <%= link_to @movie.title, @movie %></h1>

<%= render partial: 'form', locals: { movie: @movie, screening: @screening } %>

<%= link_to 'See All Screenings', movie_screenings_path(@movie), class: 'btn' %>
