<h3>TV Credits (<%= @person_tv_credits.actor.size %>)</h3>
<ul>
  <% @person_tv_credits.actor.each do |credit| %>
    <li><%= link_to "#{credit.show_name}", tv_more_path(show_id: credit.show_id, actor_id: @actor_id) %> |
    <%= link_to "Appearance Details", actor_credit_path(actor_id: @actor_id, credit_id: credit.credit_id,
    show_name: "#{credit.show_name}") %>
    <%= ": Character: #{credit.character}" if credit.character.present? %></li>
  <% end %>
</ul>