<h3>TV Credits (<%= tv_credits.actor.size %>)</h3>
<ul>
  <% tv_credits.actor.each do |credit| %>
    <li>
      <%= link_to "#{credit.show_name}", tv_series_path(show_id: credit.show_id, actor_id: actor_id) %> | 
      <% if credit.character.present? %>
        as <%= link_to credit.character, 
            actor_credit_path(actor_id: actor_id, credit_id: credit.credit_id, show_name: "#{credit.show_name}"), 
            id: "appearance_details_#{credit.show_name.downcase}" %>
      <% else %>
        <%= link_to "episodes", 
            actor_credit_path(actor_id: actor_id, credit_id: credit.credit_id, show_name: "#{credit.show_name}"), 
            id: "appearance_details_#{credit.show_name.downcase}" %>
      <% end %>
    </li>
  <% end %>
</ul>
