<div id=<%= "modal_#{movie.tmdb_id}" %> class="modal hidden">
  <div class="modal-content">
    <div class="placeholder-content">
      <div class="trailer-placeholder"></div>
      <div class="screening-placeholder"></div>
      <h2><%= movie.title %></h2>
    </div>
  </div>
</div>
