
  <p><strong>On List(s):</strong>
    <% movie.lists.by_user(current_user).each do |list| %>
      <%= link_to "#{list.name}", user_list_path(current_user, list.slug), id: "show_list_link_on_list_movies_partial" %>
    <% end %> <!-- # list loop -->
  </p>
