
<div class="movies-container">
  <!--modal_for_preload includes the modal in the html with some dummy content
  so that when we make the request and load the content
  it's a smoother transition-->
  <% movies.each do |movie| %>
    <%= render 'movies/modal_for_preload', movie: movie %>
    <%= content_tag :div, data: {controller: 'modal', action: 'click->modal#openModal'}, id: movie.tmdb_id, class: 'movies-container__poster' do %>
      <%= button_to image_for(movie),
        movie_modal_path(tmdb_id: movie.tmdb_id, list_id: @list&.id),
        class: 'modal-linker'
      %>
    <% end %>
  <% end %>
</div>
