<div class="partial-spacer">
<p class="mb-10">
  <!-- #if movie was watched -->
  <% if current_user.watched_movies.include?(movie) %>
    <span class="material-symbols-outlined">videocam</span>
    <span class="pseudo-header"> Last Watched:</span> <%= movie.most_recent_screening_by(current_user) %>,
    your <%= firstify_number(movie.times_seen_by(current_user)) %> screening.
    <span class="screening-link">
      <%= link_to '<span class="material-symbols-outlined">edit</span>Edit'.html_safe,
        movie_screenings_path(movie),
        id: "add_screening_link_movies_partial"
      %>
    </span>
  <!-- # if movie has not been seen -->
  <% else %>
    <span class="material-symbols-outlined">videocam</span>
    <span class="pseudo-header"> Last Watched:</span> You haven't seen this one yet
  <% end %>
</p>
</div>
