
  <div class="row tile-container">
    <% @movies.each do |movie| %>
      <article class="tile-cover-pic">
        <!-- MODAL TRIGGER -->
        <p><a href="#" data-toggle="modal" data-target="#myModal_<%= movie.tmdb_id %>">
        <%= image_for(movie)  %></a></p>
                     
        <div id="movies_partial_<%= "#{movie.tmdb_id}" %>">
          <%= render partial: 'movies/movie', object: movie %>
        </div>
      </article> <!-- tile-cover-pic -->
    <% end %><!-- movies.each -->
  </div> <!-- row tile container-->

