<div id="movie_seen_<%= "#{movie.tmdb_id}" %>">

<% if current_user.watched_movies.include?(movie) %> <!-- #if movie has been seen -->
  <p class="sidebar-button">
    <%= link_to '<i class="fa fa-check-square-o"></i> Watched. Add/View Screenings'.html_safe, movie_screenings_path(movie), id: "add_screening_link_movies_partial" %>
  </p>
<% else %> <!-- #if movie has been seen -->
  <p class="sidebar-button">
    <%= link_to '<i class="fa fa-square-o"></i> Mark as Watched'.html_safe, screenings_path(
        screening: { location_watched: current_user.default_location },
        tmdb_id: movie.tmdb_id,
        from: 'movies_index',
        page: params[:page]
      ),
      method: :post,
      id: 'mark_watched_link_movies_partial',
      remote: true %>
  </p>
<% end %> <!-- #if movie has been seen -->
</div><!-- id= movie_seen -->
