  <% if current_user.screened_movies.include?(movie) %> <!-- #if movie has been seen -->

    <p><strong>Times you've seen this movie:</strong> <%= movie.times_seen_by(current_user) %></p>
    <p><%= link_to "View my screenings", movie_screenings_path(movie), id: "view_screenings_link_movies_partial" %></p>

    <% if movie.in_db %>
      <p><%= link_to "Add a screening", new_movie_screening_path(movie), id: "add_screening_link_movies_partial" %><p>
    <% end %> <!-- # if movie.in_db -->

  <% else %> <!-- #if movie has been seen -->

  <p><%= link_to "Mark as watched", screenings_path(:screening => { notes: nil }, tmdb_id: movie.tmdb_id, from: "movies_index", page: params[:page]), :method => :post, id: "mark_watched_link_movies_partial", remote: true %></p>

  <% end %> <!-- #if movie has been seen -->