<div id="movie_seen_<%= "#{movie.tmdb_id}" %>">

<% if current_user.watched_movies.include?(movie) %> <!-- #if movie has been seen -->

  <p class="sidebar-button"><%= link_to " Seen it! Add a Screening", movie_screenings_path(movie), id: "add_screening_link_movies_partial", class: "fa fa-check-square-o" %></p>

<% else %> <!-- #if movie has been seen -->

  <p class="sidebar-button"><%= link_to "  Mark as Watched", screenings_path(:screening => { notes: nil }, tmdb_id: movie.tmdb_id, from: "movies_index", page: params[:page]), :method => :post, id: "mark_watched_link_movies_partial", remote: true, class: "fa fa-square-o" %></p>

<% end %> <!-- #if movie has been seen -->

</div><!-- id= movie_seen -->

