
<%= turbo_frame_tag 'movie_partial_loop' do %>
<div class="row tile-container">
  <% movies.each do |movie| %>
    <article class="tile-cover-pic">
      <!-- MODAL TRIGGER 1 of 2 -->
      <!-- On Desktop: Always display the modal -->
      <p id="modal-trigger">

<!--      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>-->
<!--      <button type="button" class="btn btn-primary" data-toggle="modal" data-controller='trailer' data-action='click->trailer#modalTester'>
        Launch demo modal
      </button>-->
        <%= button_to image_for(movie), movie_modal_path(tmdb_id: movie.tmdb_id, list_id: @list&.id),
                                      data: { target: "#myModal_#{movie.tmdb_id}", controller: 'trailer', action: 'click->trailer#modalTester' },
                                      id: "modal_link_#{movie.tmdb_id}",
                                      class: 'modal-linker'
        %>
      </p>
      <!-- MODAL TRIGGER 2 of 2 -->
      <!-- On Mobile: skip the modal and go straight to a show page -->
      <p id="modal-trigger-mobile">
        <%= link_to image_for(movie), movie_more_path(tmdb_id: movie.tmdb_id) %>
      </p>

      <div id="movies_partial_<%= "#{movie.tmdb_id}" %>"></div>
    </article> <!-- tile-cover-pic -->
  <% end %><!-- movies.each -->
</div> <!-- row tile container-->
<% end %>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>OMG!!!</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
