---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/tv/456?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188&append_to_response=credits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"23e8925999387cca108ebf3df82becd5"
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '13553'
      X-Memc-Expires:
      - '15247'
      X-Memc-Key:
      - d391e9bdd381f9f0679bbfc749059ac8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '32'
      X-Ratelimit-Reset:
      - '1456247570'
    body:
      encoding: ASCII-8BIT
      string: '{"backdrop_path":"/f5uNbUC76oowt5mt5J9QlqrIYQ6.jpg","created_by":[{"id":5741,"name":"Matt
        Groening","profile_path":"/zYzOuM94hbVmage9XZrQ8daHyoF.jpg"}],"episode_run_time":[22],"first_air_date":"1989-12-16","genres":[{"id":35,"name":"Comedy"},{"id":16,"name":"Animation"},{"id":10751,"name":"Family"}],"homepage":"http://www.thesimpsons.com/","id":456,"in_production":true,"languages":["en"],"last_air_date":"2016-02-21","name":"The
        Simpsons","networks":[{"id":303,"name":"Fox"},{"id":400,"name":"Antena 3"},{"id":1189,"name":"Neox"}],"number_of_episodes":588,"number_of_seasons":27,"origin_country":["US"],"original_language":"en","original_name":"The
        Simpsons","overview":"Set in Springfield, the average American town, the show
        focuses on the antics and everyday adventures of the Simpson family; Homer,
        Marge, Bart, Lisa and Maggie, as well as a virtual cast of thousands. Since
        the beginning, the series has been a pop culture icon, attracting hundreds
        of celebrities to guest star. The show has also made name for itself in its
        fearless satirical take on politics, media and American life in general.","popularity":15.33142,"poster_path":"/yTZQkSsxUFJZJe67IenRM0AEklc.jpg","production_companies":[{"name":"Gracie
        Films","id":18},{"name":"20th Century Fox Television","id":1556},{"name":"The
        Curiosity Company","id":29500}],"seasons":[{"air_date":"1987-04-19","episode_count":61,"id":3581,"poster_path":"/lzN0CllVFXtGtSl15r59Kb52DdT.jpg","season_number":0},{"air_date":"1989-12-16","episode_count":13,"id":3582,"poster_path":"/o6wvnWuUKW1g2bLs2gmI2ObMYJG.jpg","season_number":1},{"air_date":"1991-03-23","episode_count":22,"id":3583,"poster_path":"/899T1Dil6IYq37A6uzYhFaOqilr.jpg","season_number":2},{"air_date":"1991-09-19","episode_count":24,"id":3584,"poster_path":"/wedEESbwtgysceFhdMlMMTrHKpz.jpg","season_number":3},{"air_date":"1992-09-24","episode_count":22,"id":3585,"poster_path":"/ddIiahsCEYHqKD0xZPwdRZF7VIu.jpg","season_number":4},{"air_dat[...]
