---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/credit/56ad478dc3a3681c34006885?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"0e3a3a80ac7c1f66cd23643a3d37311a"'
      Status:
      - 200 OK
      X-Memc:
      - MISS, STORE
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '28800'
      X-Memc-Key:
      - 9561c1a73815b7a1dbc45a8292cf5c74
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '31'
      X-Ratelimit-Reset:
      - '1456247570'
    body:
      encoding: UTF-8
      string: '{"credit_type":"cast","department":"Actors","job":"Actor","media":{"id":65454,"name":"Horace
        and Pete","original_name":"Horace and Pete","character":"Pete","episodes":[],"seasons":[{"air_date":"2016-01-30","poster_path":null,"season_number":1}]},"media_type":"tv","id":"56ad478dc3a3681c34006885","person":{"name":"Steve
        Buscemi","id":884}}'
  recorded_at: Tue, 23 Feb 2016 17:12:43 GMT
recorded_with: VCR 2.9.3
