---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/credit/532cc9c9c3a3685fe20005b6?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - fcb7e34d68a48388ea5e729b684eaf0e7f5de361
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '16090'
      Etag:
      - W/"fe27e1d98b629cd9c75e5d0d3dc5b85e"
    body:
      encoding: ASCII-8BIT
      string: '{"credit_type":"cast","department":"Acting","job":"Actor","media":{"backdrop_path":"/kCOLltSpNznhpdHhxCsky3eU1jI.jpg","first_air_date":"2011-01-21","genre_ids":[35],"id":33922,"name":"Portlandia","origin_country":["US"],"original_language":"en","original_name":"Portlandia","overview":"Satirical
        sketch comedy set and filmed in Portland, Oregon that explores the eccentric
        misfits who embody the foibles of modern culture.","poster_path":"/pfaxCP6YqlFHCL3QytnTanwRTL5.jpg","vote_average":6.8,"vote_count":89,"popularity":13.789,"character":"Celery
        Salesman","episodes":[{"air_date":"2014-03-13","episode_number":3,"id":972820,"name":"Celery
        Guy","overview":"A celery salesman goes to great lengths to have celery become
        more popular; 911 dispatchers assure callers that it''s beets; The Order Grill
        is open for lunch; Carrie declares social bankruptcy; a fed up office worker
        wants to become a gutter punk.","production_code":"","season_number":4,"show_id":33922,"still_path":"/lWih2Si0KPsAkmGnqd3YC1I2uNn.jpg","vote_average":8.0,"vote_count":3}],"seasons":[{"air_date":"2014-02-27","episode_count":10,"id":44743,"name":"Season
        4","overview":"","poster_path":"/i4i7iRNytb5JChQH5upQUKuastn.jpg","season_number":4,"show_id":33922}]},"media_type":"tv","id":"532cc9c9c3a3685fe20005b6","person":{"adult":false,"gender":2,"name":"Steve
        Buscemi","id":884,"known_for":[{"id":680,"overview":"A burger-loving hit man,
        his philosophical partner, a drug-addled gangster''s moll and a washed-up
        boxer converge in this sprawling, comedic crime caper. Their adventures unfurl
        in three stories that ingeniously trip back and forth in time.","release_date":"1994-09-10","adult":false,"backdrop_path":"/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg","vote_count":21979,"genre_ids":[53,80],"title":"Pulp
        Fiction","original_language":"en","original_title":"Pulp Fiction","poster_path":"/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg","vote_average":8.5,"video":false,"popularity":60.174,"media_type":"movie"},{"adult":false,"backdrop_path":"/hVxPPgSL72qS18jIB3eWXoAsoWu.jpg","genre_ids":[16,35,10751],"id":585,"original_language":"en","original_title":"Monsters,
        Inc.","overview":"James Sullivan and Mike Wazowski are monsters, they earn
        their living scaring children and are the best in the business... even though
        they''re more afraid of the children than they are of them. When a child accidentally
        enters their world, James a[...]
