---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/credit/5adab0c9c3a36862ef003fd0?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - a612ccba90ac13aecdf065bd1033f91c6a8bee94
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '15479'
      Etag:
      - W/"23e26f53aa5556c4fe5d622c95d1574e"
    body:
      encoding: ASCII-8BIT
      string: '{"credit_type":"cast","department":"Acting","job":"Actor","media":{"overview":"The
        first season of this comedy anthology is set in the offices of Heaven Inc.
        When God plans to destroy the Earth, two low-level angels must convince their
        boss to save humanity. They bet him they can pull off their most impossible
        miracle yet: help two humans fall in love.","vote_count":120,"backdrop_path":"/k4vgXFmthBqQFuHWraI2KdP8cFO.jpg","original_name":"Miracle
        Workers","genre_ids":[35],"first_air_date":"2019-02-12","origin_country":["US"],"id":78950,"poster_path":"/2rTZrFxEXAb6y2Fwj5oHP2jOwhx.jpg","name":"Miracle
        Workers","original_language":"en","vote_average":7.0,"popularity":19.434,"character":"God","episodes":[],"seasons":[{"air_date":"2019-02-12","episode_count":7,"id":102727,"name":"Season
        1","overview":"When God plans to destroy the Earth, two low-level angels must
        convince their boss to save humanity. They bet him they can pull off their
        most impossible miracle yet: help two humans fall in love.","poster_path":"/iJfncT3KradVqWjwC71gT5jEgfl.jpg","season_number":1,"show_id":23023}]},"media_type":"tv","id":"5adab0c9c3a36862ef003fd0","person":{"adult":false,"gender":2,"name":"Steve
        Buscemi","id":884,"known_for":[{"id":680,"overview":"A burger-loving hit man,
        his philosophical partner, a drug-addled gangster''s moll and a washed-up
        boxer converge in this sprawling, comedic crime caper. Their adventures unfurl
        in three stories that ingeniously trip back and forth in time.","release_date":"1994-09-10","adult":false,"backdrop_path":"/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg","vote_count":21979,"genre_ids":[53,80],"title":"Pulp
        Fiction","original_language":"en","original_title":"Pulp Fiction","poster_path":"/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg","vote_average":8.5,"video":false,"popularity":60.174,"media_type":"movie"},{"adult":false,"backdrop_path":"/hVxPPgSL72qS18jIB3eWXoAsoWu.jpg","genre_ids":[16,35,10751],"id":585,"original_language":"en","original_title":"Monsters,
        Inc.","overview":"James Sullivan and Mike Wazowski are monsters, they earn
        their living scaring children and are the best in the business... even though
        they''re more afraid of the children than they are of them. When a child accidentally
        enters their world, James a[...]
