---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/credit/5256c32c19c2956ff601d1f7?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"7810ad1734f0e5d6107f0bde6ef7b0f9"
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '212'
      X-Memc-Expires:
      - '28588'
      X-Memc-Key:
      - ef9ce80f591f53fd49812fe478b97c6a
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1452198030'
    body:
      encoding: ASCII-8BIT
      string: '{"credit_type":"cast","department":"Actors","job":"Actor","media":{"id":456,"name":"The
        Simpsons","original_name":"The Simpsons","character":"","episodes":[{"air_date":"2003-05-11","episode_number":20,"name":"Brake
        My Wife, Please","overview":"At the Springfield Aquarium, Marge accompanies
        the kids on a school field trip. Lisa spots penguins flying and after Bart
        has shown off his \"flawless pearls,\" which results in him being taken the
        hospital, where a lack of insurance card keeps him prisoner. Homer has the
        insurance card, but is nowhere to be found. As a solution, Homer gets a mobile
        phone and a few extra unnecessary accessories, which only leads to him not
        paying attention to wher[...]
