---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/tv/456?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188&append_to_response=credits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 9c16a011a7b27be36d20fa99c9e799f3b40e497b
      X-Memc-Age:
      - '3034'
      X-Memc-Expires:
      - '566'
      Etag:
      - W/"ac82a60edba1a765b7726bcc94edecec"
    body:
      encoding: ASCII-8BIT
      string: '{"backdrop_path":"/rQ5pOJBSqWoRf9evZHkL8rzUD4n.jpg","created_by":[{"id":5741,"credit_id":"5256bdc619c2956ff6001be4","name":"Matt
        Groening","gender":2,"profile_path":"/2HmAw3AN93DGESPi3ibLZgBa8cT.jpg"}],"episode_run_time":[22],"first_air_date":"1989-12-17","genres":[{"id":10751,"name":"Family"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"}],"homepage":"https://www.fox.com/the-simpsons/","id":456,"in_production":true,"languages":["en"],"last_air_date":"2021-12-19","last_episode_to_air":{"air_date":"2021-12-19","episode_number":10,"id":3271557,"name":"A
        Made Maggie","overview":"Fat Tony becomes Godfather to Maggie Simpson.","production_code":"UABF03","season_number":33,"still_path":null,"vote_average":0.0,"vote_count":0},"name":"The
        Simpsons","next_episode_to_air":{"air_date":"2022-01-02","episode_number":11,"id":3329780,"name":"The
        Longest Marge","overview":"Marge and Mr. Burns fight for soul of a brash young
        football prodigy.","production_code":"","season_number":33,"still_path":null,"vote_average":0.0,"vote_count":0},"networks":[{"name":"FOX","id":19,"logo_path":"/1DSpHrWyOORkL9N2QHX7Adt31mQ.png","origin_country":"US"}],"number_of_episodes":718,"number_of_seasons":33,"origin_country":["US"],"original_language":"en","original_name":"The
        Simpsons","overview":"Set in Springfield, the average American town, the show
        focuses on the antics and everyday adventures of the Simpson family; Homer,
        Marge, Bart, Lisa and Maggie, as well as a virtual cast of thousands. Since
        the beginning, the series has been a pop culture icon, attracting hundreds
        of celebrities to guest star. The show has also made name for itself in its
        fearless satirical take on politics, media and American life in general.","popularity":643.864,"poster_path":"/tubgEpjTUA7t0kejVMBsNBZDarZ.jpg","production_companies":[{"id":29500,"logo_path":"/a3ltwX7b1opYeG7MxaxxswDmkeg.png","name":"The
        Curiosity Company","origin_country":"US"},{"id":18,"logo_path":"/uqhagSwM7NAkQWVCQhKTyoqF8XH.png","name":"Gracie
        Films","origin_country":"US"},{"id":1556,"logo_path":"/31h94rG9hzjprXoYNy3L1ErUya2.png","name":"20th
        Century Fox Television","origin_country":"US"},{"id":154887,"logo_path":null,"name":"20th
        Television Animation","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"seasons":[{"air_date":"1987-04-19","episode_count":80,"id":3581,"name":"Specials","overview":"","poster_path":"/scOFYJDUetxx4zAYOOfgsNqEQOr.jpg","season_number":0},{"air_date":"1989-12-17","episode_count":13,"id":3582,"name":"Season
        1","overview":"","poster_path":"/488IWIcFsTFMfmVc7Kwv0Y1bHMt.jpg","season_number":1},{"air_date":"1990-10-11","episode_count":22,"id":3583,"name":"Season
        2","overview":"","poster_path":"/4ROAI3tNaRaL8UZWoSO51woN3WE.jpg","season_number":2},{"air_date":"1991-09-19","episode_count":24,"id":3584,"name":"S[...]
