---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/credit/54ef661dc3a3686d660072cc?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"bf4984f6835f52b2b4d1c04e7114f930"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '308'
      X-Memc-Expires:
      - '28492'
      X-Memc-Key:
      - 994d39d99badebf90dc308e3feeb4b76
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1456800110'
    body:
      encoding: UTF-8
      string: '{"credit_type":"cast","department":"Actors","job":"Actor","media":{"id":33922,"name":"Portlandia","original_name":"Portlandia","character":"Various","episodes":[{"air_date":"2015-02-26","episode_number":8,"name":"House
        for Sale","overview":"Fred and Carrie''s landlord moves into their house;
        Kath and Dave decide to buy a new home for their next renovation project.","season_number":5,"still_path":"/a2qb6likwtCiNiaiJoh6Ov6tnGI.jpg"}],"seasons":[]},"media_type":"tv","id":"54ef661dc3a3686d660072cc","person":{"name":"Steve
        Buscemi","id":884}}'
  recorded_at: Tue, 01 Mar 2016 02:41:39 GMT
recorded_with: VCR 2.9.3
