---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/person?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188&query=ben%20affleck
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1454352511'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"profile_path":"\/yXtyygmSGtrwTfEmr6g2WgHFJIZ.jpg","adult":false,"id":880,"known_for":[{"poster_path":"\/gdiLTof3rbPDAmPaCf4g6op46bj.jpg","adult":false,"overview":"With
        his wife''s disappearance having become the focus of an intense media circus,
        a man sees the spotlight turned on him when it''s suspected that he may not
        be innocent.","release_date":"2014-10-01","original_title":"Gone Girl","genre_ids":[9648,53,18],"id":210577,"media_type":"movie","original_language":"en","title":"Gone
        Girl","backdrop_path":"\/bt6DhdALyhf90gReozoQ0y3R3vZ.jpg","popularity":10.551875,"vote_count":2776,"video":false,"vote_average":7.99},{"poster_path":"\/oai3xLBQHpIh18VJdRCcL7D0Yg0.jpg","adult":false,"overview":"As
        the Iranian revolution reaches a boiling point, a CIA ''exfiltration'' specialist
        concocts a risky plan to free six Americans who have found shelter at the
        home of the Canadian ambassador.","release_date":"2012-10-11","original_title":"Argo","genre_ids":[18,53],"id":68734,"media_type":"movie","original_language":"en","title":"Argo","backdrop_path":"\/7MGIEdu0Mokqt8i7snflYRLbooI.jpg","popularity":3.590995,"vote_count":2105,"video":false,"vote_average":6.87},{"poster_path":"\/coINnuCzcw5FMHBty8hcudMOBnO.jpg","adult":false,"overview":"An
        asteroid the size of Texas is heading directly toward Earth at 22,000 mph.
        NASA''s executive director, Dan Truman, has only one option - to send up a
        crew to destroy the asteroid. He enlists the help of Harry S. Stamper - the
        world''s foremost deep core oil driller - and Stamper''s roughneck team of
        drillers to land on the asteroid, drill into its surface, and drop a nuclear
        device.","release_date":"1998-06-30","original_title":"Armageddon","genre_ids":[28,53,878,12],"id":95,"media_type":"movie","original_language":"en","title":"Armageddon","backdrop_path":"\/lI3qV4kiSg0BvE6gelzV0tPAoFK.jpg","popularity":3.692012,"vote_count":1238,"video":false,"vote_average":6.32}],"name":"Ben
        Affleck","popularity":17.044268}],"total_results":1,"total_pages":1}'
  recorded_at: Mon, 01 Feb 2016 18:48:21 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/discover/movie?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188&certification=&certification_country=US&page=&primary_release_year=1996&sort_by=revenue.desc&with_companies=&with_genres=&with_people=880
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 72b32a1f754ba1c09b3695e0cb6cde7f
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1454352511'
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[],"total_results":0,"total_pages":1}'
  recorded_at: Mon, 01 Feb 2016 18:48:21 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/discover/movie?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188&certification=&certification_country=US&page=&primary_release_year=1996&sort_by=revenue.desc&with_companies=&with_genres=&with_people=880
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 72b32a1f754ba1c09b3695e0cb6cde7f
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '37'
      X-Ratelimit-Reset:
      - '1454352511'
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[],"total_results":0,"total_pages":1}'
  recorded_at: Mon, 01 Feb 2016 18:48:21 GMT
recorded_with: VCR 2.9.3
