---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/person?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188&query=Steve%20Buscemi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"gender":2,"id":884,"known_for":[{"adult":false,"backdrop_path":"/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg","genre_ids":[53,80],"id":680,"media_type":"movie","original_language":"en","original_title":"Pulp
        Fiction","overview":"A burger-loving hit man, his philosophical partner, a
        drug-addled gangster''s moll and a washed-up boxer converge in this sprawling,
        comedic crime caper. Their adventures unfurl in three stories that ingeniously
        trip back and forth in time.","poster_path":"/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg","release_date":"1994-09-10","title":"Pulp
        Fiction","video":false,"vote_average":8.5,"vote_count":21979},{"adult":false,"backdrop_path":"/hVxPPgSL72qS18jIB3eWXoAsoWu.jpg","genre_ids":[16,35,10751],"id":585,"media_type":"movie","original_language":"en","original_title":"Monsters,
        Inc.","overview":"James Sullivan and Mike Wazowski are monsters, they earn
        their living scaring children and are the best in the business... even though
        they''re more afraid of the children than they are of them. When a child accidentally
        enters their world, James and Mike suddenly find that kids are not to be afraid
        of and they uncover a conspiracy that could threaten all children across the
        world.","poster_path":"/sgheSKxZkttIe8ONsf2sWXPgip3.jpg","release_date":"2001-11-01","title":"Monsters,
        Inc.","video":false,"vote_average":7.8,"vote_count":14744},{"adult":false,"backdrop_path":"/g6R1OT7ETBLGLeUJOE0pOiAFHcI.jpg","genre_ids":[80,53],"id":500,"media_type":"movie","original_language":"en","original_title":"Reservoir
        Dogs","overview":"A botched robbery indicates a police informant, and the
        pressure mounts in the aftermath at a warehouse. Crime begets violence as
        the survivors -- veteran Mr. White, newcomer Mr. Orange, psychopathic parolee
        Mr. Blonde, bickering weasel Mr. Pink and Nice Guy Eddie -- unravel.","poster_path":"/lsBnfheKZBO3UKU7lVHIeGZLWuF.jpg","release_date":"1992-09-02","title":"Reservoir
        Dogs","video":false,"vote_average":8.2,"vote_count":11126}],"known_for_department":"Acting","name":"Steve
        Buscemi","popularity":14.094,"profile_path":"/lQKdHMxfYcCBOvwRKBAxPZVNtkg.jpg"}],"total_pages":1,"total_results":1}'
  recorded_at: Thu, 11 Nov 2021 01:04:19 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/discover/movie?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188&certification=&certification_country=US&page=1&primary_release_year=1996&sort_by=revenue.desc&with_companies=&with_genres=&with_people=884
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      st[...]
[...]
