---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188&query=zasdlkjfasdlkjf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 72b32a1f754ba1c09b3695e0cb6cde7f
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '20'
      X-Ratelimit-Reset:
      - '1452550259'
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[],"total_results":0,"total_pages":1}'
  recorded_at: Mon, 11 Jan 2016 22:10:57 GMT
recorded_with: VCR 2.9.3
