---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/person?*&%5E&api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188&query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '30'
      X-Ratelimit-Reset:
      - '1456332466'
    body:
      encoding: UTF-8
      string: '{"errors":["query must be provided"]}'
  recorded_at: Wed, 24 Feb 2016 16:47:40 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/person?*&%5E&api_key=&query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - ec8956637a99787bd197eacd77acce5e
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '36'
      X-Ratelimit-Reset:
      - '1552253740'
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key.","success":false}'
  recorded_at: Sun, 10 Mar 2019 21:35:32 GMT
recorded_with: VCR 2.9.3
