---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/movie?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188&query=fargo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1452202544'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"poster_path":"\/aZeX4XNSqa08TdMHRB1gDLO6GOi.jpg","adult":false,"overview":"Jerry,
        a small-town Minnesota car salesman is bursting at the seams with debt...
        but he''s got a plan. He''s going to hire two thugs to kidnap his wife in
        a scheme to collect a hefty ransom from his wealthy father-in-law. It''s going
        to be a snap and nobody''s going to get hurt... until people start dying.
        Enter Police Chief Marge, a coffee-drinking, parka-wearing - and extremely
        pregnant - investigator who''ll stop at nothing to get her man. And if you
        think her small-time investigative skills will give the crooks a run for their
        ransom... you betcha!","release_date":"1996-04-05","genre_ids":[80,18,53],"id":275,"original_title":"Fargo","original_language":"en","title":"Fargo","backdrop_path":"\/lGAaaOzqw8nc14HOgSP58TWWo1y.jpg","popularity":4.152191,"vote_count":728,"video":false,"vote_average":7.42},{"poster_path":"\/dxlAmp300kiLnK3pppTfa0TjdS9.jpg","adult":false,"overview":"The
        brother (House Peters Jr.) of rancher Bill Martin (Bill Elliott) is killed
        in a stampede started by cattleman. Bill returns to the Fargo country to take
        his brother''s place and is welcomed by law-abiding cattleman MacKenzie (Jack
        Ingram)) and his daughter Kathy (Phyllis Coates). The leader of the ruthless
        cattle interests are townsman Austin (Arthur Space) and his hench[...]
