---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?query=*sdlfkjsdflkjsdf&api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Thu, 11 Nov 2021 00:52:02 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188&query=The%20Big%20Lebowski
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/nevS6wjzCxZESvmjJZqdyZ3RNQ6.jpg","genre_ids":[35,80],"id":115,"original_language":"en","original_title":"The
        Big Lebowski","overview":"Jeffrey ''The Dude'' Lebowski, a Los Angeles slacker
        who only wants to bowl and drink White Russians, is mistaken for another Jeffrey
        Lebowski, a wheelchair-bound millionaire, and finds himself dragged into a
        strange series of events involving nihilists, adult film producers, ferrets,
        errant toes, and large sums of money.","popularity":29.04,"poster_path":"/5DpmtMBXXNDujIuSlKW3WLKuqEd.jpg","release_date":"1998-03-06","title":"The
        Big Lebowski","video":false,"vote_average":7.9,"vote_count":8819},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":249110,"original_language":"en","original_title":"The
        Big Lebowski 2","overview":"This summer, see your favorite Coen Brothers''
        cult classic in a whole new way. Kind of.","popularity":1.426,"poster_path":"/xxHizKYKLp6cUTxswPc9HfxCd07.jpg","release_date":"2011-03-29","title":"The
        Big Lebowski 2","video":false,"vote_average":2.6,"vote_count":7},{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":763400,"original_language":"en","original_title":"The
        Making of The Big Lebowski","overview":"A short documentary about the production
        of The Big Lebowski (1998).","popularity":0.84,"poster_path":"/8szaRNN9bETpBHds2OLRkKbgb80.jpg","release_date":"1998-10-27","title":"The
        Making of The Big Lebowski","video":false,"vote_average":6,"vote_count":1}],"total_pages":1,"total_results":3}'
  recorded_at: Thu, 11 Nov 2021 00:52:03 GMT
recorded_with: VCR 5.0.0
