---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/275?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188&append_to_response=trailers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"497fab2bd1715673e8cc0662e79fdba5"
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '12550'
      X-Memc-Expires:
      - '16250'
      X-Memc-Key:
      - 1d1ae1d16d08b874c2ef85c916776047
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1449508204'
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/lGAaaOzqw8nc14HOgSP58TWWo1y.jpg","belongs_to_collection":null,"budget":7000000,"genres":[{"id":80,"name":"Crime"},{"id":18,"name":"Drama"},{"id":53,"name":"Thriller"}],"homepage":"http://www.themoviefargo.com/","id":275,"imdb_id":"tt0116282","original_language":"en","original_title":"Fargo","overview":"Jerry,
        a small-town Minnesota car salesman is bursting at the seams with debt...
        but he''s got a plan. He''s going to hire two thugs to kidnap his wife in
        a scheme to collect a hefty ransom from his wealthy father-in-law. It''s going
        to be a snap and nobody''s going to get hurt... until people start dying.
        Enter Police Chief Marge, a coffee-drinking, parka-wearing - and extremely
        pregnant - investigator who''ll stop at nothing to get her man. And if you
        think her small-time investigative skills will give the crooks a run for their
        ransom... you betcha!","popularity":2.205144,"poster_path":"/aZeX4XNSqa08TdMHRB1gDLO6GOi.jpg","production_companies":[{"name":"PolyGram
        Filmed Entertainment","id":1382},{"name":"Working Title Films","id":10163}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1996-04-05","revenue":60611975,"runtime":98,"spoken_languages":[{"iso_639_1":"en","name":"English"}],"status":"Released","tagline":"A
        lot can happen in the middle of nowhere.","title":"Fargo","video":false,"vote_average":7.4,"vote_count":689,"trailers":{"quicktime":[],"youtube":[{"name":"Trailer
        1","size":"Standard","source":"h2tY82z3xXU","type":"Trailer"}]}}'
  recorded_at: Mon, 07 Dec 2015 17:09:54 GMT
recorded_with: VCR 2.9.3
