---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188&query=fargo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/747dgDfL5d8esobk7h4odaOFhUq.jpg","genre_ids":[80,18,53],"id":275,"original_language":"en","original_title":"Fargo","overview":"Jerry,
        a small-town Minnesota car salesman is bursting at the seams with debt...
        but he''s got a plan. He''s going to hire two thugs to kidnap his wife in
        a scheme to collect a hefty ransom from his wealthy father-in-law. It''s going
        to be a snap and nobody''s going to get hurt... until people start dying.
        Enter Police Chief Marge, a coffee-drinking, parka-wearing - and extremely
        pregnant - investigator who''ll stop at nothing to get her man. And if you
        think her small-time investigative skills will give the crooks a run for their
        ransom... you betcha!","popularity":23.834,"poster_path":"/rt7cpEr1uP6RTZykBFhBTcRaKvG.jpg","release_date":"1996-03-08","title":"Fargo","video":false,"vote_average":7.9,"vote_count":5983},{"adult":false,"backdrop_path":null,"genre_ids":[28,37],"id":252276,"original_language":"en","original_title":"Fargo","overview":"The
        brother (House Peters Jr.) of rancher Bill Martin (Bill Elliott) is killed
        in a stampede started by cattleman. Bill returns to the Fargo country to take
        his brother''s place and is welcomed by law-abiding cattleman MacKenzie (Jack
        Ingram)) and his daughter Kathy (Phyllis Coates). The leader of the ruthless
        cattle inter[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188&query=sdlfkjsdflkjsdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Thu, 11 Nov 2021 00:55:35 GMT
recorded_with: VCR 5.0.0
