---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/person/884?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"87c570696fc6285dac96f23fbe7c1ade"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '25336'
      X-Memc-Expires:
      - '3464'
      X-Memc-Key:
      - 7982397048fe5e63fc1e264608f433e0
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '36'
      X-Ratelimit-Reset:
      - '1456247570'
    body:
      encoding: UTF-8
      string: '{"adult":false,"also_known_as":[],"biography":"Steven Vincent \"Steve\"
        Buscemi is an American actor, writer and film director.\nHe was born in Brooklyn,
        New York, the son of Dorothy, who worked as a hostess at Howard Johnson''s,
        and John Buscemi, a sanitation worker and Korean War veteran. Buscemi''s father
        was Sicilian American and his mother Irish American. He has three brothers:
        Jon, Ken, and Michael. Buscemi was raised Roman Catholic.\n\nIn April 2001,
        while shooting the film Domestic Disturbance in Wilmington, North Carolina,
        Buscemi was stabbed three times while intervening in a bar fight at Firebelly
        Lounge between his friend Vince Vaughn, screenwriter Scott Rosenberg and a
        local man, who allegedly instigated the brawl.\n\nBuscemi has one son, Lucian,
        with his wife Jo Andres.","birthday":"1957-12-13","deathday":"","homepage":"","id":884,"imdb_id":"nm0000114","name":"Steve
        Buscemi","place_of_birth":"New York City, New York, USA","popularity":12.391826,"profile_path":"/e19GfOWzMNN1hi7B9Ci62hMvtXs.jpg"}'
  recorded_at: Tue, 23 Feb 2016 17:12:40 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/person/884/movie_credits?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"03841d613a6d4dd3c529d09a8e37a4df"
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '27435'
      X-Memc-Expires:
      - '1365'
      X-Memc-Key:
      - e40d38e5b39de5d3837b07dc19a1e236
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '35'
      X-Ratelimit-Reset:
      - '1456247570'
    body:
      encoding: ASCII-8BIT
      string: '{"cast":[{"adult":false,"character":"Eddie","credit_id":"52fe43179251416c75003147","id":10061,"original_title":"Escape
        from L.A.","poster_path":"/rAjz6XFC6Zs07oraJSnajbaAbG9.jpg","release_date":"1996-08-09","title":"Escape
        from L.A."},{"adult":false,"character":"Crazy Eyes","credit_id":"52fe432dc3a36847f804034d","id":2022,"original_title":"Mr.
        Deeds","poster_path":"/l3hmNjhxmqjXrvGNMMmeOmsyX3r.jpg","release_date":"2002-06-28","title":"Mr.
        Deeds"},{"adult":false,"character":"n.a.","credit_id":"52fe43359251416c750079fb","id":10148,"original_title":"Keep
        Coming Back","poster_path":null,"release_date":"2011-07-01","title":"Keep
        Coming Back"},{"adult":false,"character":"Off. Neil Fleming (voice)","credit_id":"52fe4337c3a36847f80431f5","id":2114,"original_title":"Final
        Fantasy: The Spirits Within","poster_path":"/7xmWJM5eugu582m8EtTaw0fSBF2.jpg","release_date":"2001-07-02","title":"Final
        Fantasy: The Spirits Within"},{"adult":false,"character":"Touriste (Tuileries)","credit_id":"52fe4347c3a36847f80482cd","id":2266,"original_title":"Paris,
        je t''aime","poster_path":"/rZcG8RyxIYI0Irhk4K553M4mhG5.jpg","release_date":"2006-05-16","title":"Paris,
        je t''aime"},{"adult":false,"character":"Cornell","credit_id":"52fe43769251416c750113d1","id":10468,"ori[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/person/884/tv_credits?api_key=3fb5f9a5dbd80d943fdccf6bd1e7f188
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"1663965ff9259c8bf10331d01fb2ce6b"
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '7102'
      X-Memc-Expires:
      - '21698'
      X-Memc-Key:
      - 7299abfbd1ad12ffb651934d05d25e30
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '34'
      X-Ratelimit-Reset:
      - '1456247570'
    body:
      encoding: ASCII-8BIT
      string: '{"cast":[{"character":"","credit_id":"5256c32c19c2956ff601d1f7","episode_count":2,"first_air_date":"1989-12-16","id":456,"name":"The
        Simpsons","original_name":"The Simpsons","poster_path":"/yTZQkSsxUFJZJe67IenRM0AEklc.jpg"},{"character":"","credit_id":"5256c86719c2956ff6044522","episode_count":1,"first_air_date":"1999-01-10","id":1398,"name":"The
        Sopranos","original_name":"The Sopranos","poster_path":"/u0cLcBQITrYqfHsn06fxnQwtqiE.jpg"},{"character":"","credit_id":"5257199e760ee3776a18149c","episode_count":1,"first_air_date":"1984-09-16","id":1908,"name":"Miami
        Vice","original_name":"Miami Vice","poster_path":"/8n6E4Fnaz9qOnK2gniJVdDNZ4[...]
