<% content_for(:title, current_user.email) %>

<h1>Profile page for <%= current_user.username %></h1>
<p>Email: <%= current_user.email %></p>
<p><%= link_to "Change your password/update info", edit_user_registration_path %></p>
