<% content_for(:title, "About") %>

<h1>About</h1>
<p>This site allows you to find movies, keep track of movies you want to see, which movies you've seen.</p>
<p>Data for this site comes from <%= link_to "TMDb", "https://www.themoviedb.org/?language=en", target: "_blank" %>.</p>
<p>View the code on <%= link_to "Github", "https://github.com/mikevallano/tmdb-moviequeue", target: "_blank" %>.</p>
<p>Have more questions? Head to the <%= link_to "FAQs", faq_path %>.
