<h1>About</h1>
<p>This web app allows you to find movies, keep track of movies you want to see, and which movies you've seen.</p>
<p>Data graciously provided by <%= link_to "TMDB", "https://www.themoviedb.org/?language=en", target: "_blank" %>.</p>
