<h1>Flicks on Lists Screencast Demo</h1>

<h2>Check out the screencast for a quick overview of the site and its functionality.</h2>

<h2>The code is up on <%= link_to "Github", "https://github.com/mikevallano/tmdb-moviequeue", target: "_blank" %>, and you can contact Mike at mikevallano@gmail.com.</h2>

<iframe width="640" height="480" src="https://www.youtube.com/embed/FWP8cft1TsY?rel=0" frameborder="0" allowfullscreen></iframe>

</br>