<h1>FAQs</h1>

<h2>Q: I can't find the movie I'm looking for. How do I add it?</h2>
<p>A: All of the data comes from <%= link_to "The Movie Database (TMDb)", "https://www.themoviedb.org/", target: "_blank" %>, which generously shares its data with sites like this. TMDb is like a very specialized version of Wikipedia where everything is editable but very focused around only movie, TV and actor data.</p>
<p>Since our data comes from TMDb, you can add movies and/or data directly there. To add a new movie, <%= link_to "head to TMDb", "https://www.themoviedb.org/movie/new", target: "_blank" %>.</p>


<h2>Q: What does it mean for a list to be 'public'?</h2>
<p>A: Public lists mean that any user can see all of the movies on that list and decide which ones to add to their list and/or mark as watched. Public lists are awesome because they build on other users curating lists like "holiday movies".</p>

<h2>Q: Can I share a list with someone?</h2>
<p>A: Yes. You can invite others to share a list with you. This is perfect for couples or families--the people you watch movies with together.</p>

<h2>Q: Can list members add and remove movies from our shared list?</h2>
<p>A: Yes. Any member of a list can add and remove movies from a shared list. However, only the list owner can edit or delete the list.</p>

<h2>Q: How do tags work on a shared list?</h2>
<p>A: Good question. Tags belong to a user. If you tag a movie, it will have that tag. If list member also tags the movie, you will see both your tag and the other member's tag when you're looking at the movie on the shared list. Otherwise, you will only see that tags you've applied.</p>

<h2>Q: Why can't I delete a tag?</h2>
<p>A: You can only delete your own tags. If you're on a shared list, you'll see tags added by list members, but you'll only be able to delete your own tags.</p>