<!DOCTYPE html>
  <html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
      <h2>Someone wants you to share their movie list with you on Flicks On Lists.</h2>
      <h2>You'll be able to see all the movies on their list, add and remove movies, and tag them, as well as create your own lists. Come check it out.</h2>
      <p><%= link_to "Sign up here!", new_user_registration_url(:token => @invite.token), id: "sign_up_link_invite_mailer" %>

    </body>

  </html>