<%= turbo_frame_tag "movie_seen_#{movie.tmdb_id}" do %>
<div id="movie_seen_<%= "#{movie.tmdb_id}" %>">

<% if current_user.watched_movies.include?(movie) %> <!-- #if movie has been seen -->
  <div class="sidebar-button">
    <%= link_to '<i class="fa fa-check-square-o"></i> Watched <span class="material-symbols-outlined manage-screenings">edit_note</span>'.html_safe, movie_screenings_path(movie), id: "add_screening_link_movies_partial", data: {turbo_frame: '_top'} %>
  </div>
<% else %> <!-- #if movie has been seen -->
  <div class="sidebar-button">
    <%= button_to '<i class="fa fa-square-o"></i> Mark as Watched'.html_safe, screenings_path(
        screening: { location_watched: current_user.default_location },
        tmdb_id: movie.tmdb_id,
        from: 'movies_index',
        page: params[:page]
      ),
      method: :post,
      id: 'mark_watched_link_movies_partial',
      remote: true %>
  </div>
<% end %> <!-- #if movie has been seen -->
</div><!-- id= movie_seen -->
<% end %>
