<!DOCTYPE html>
  <html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
      <h2>Someone wants you to share their list with you.</h2>
      <p><%= link_to "Check out the list here", list_url(@invite.list_id) %>

    </body>

  </html>