//https://color.adobe.com/Copy-of-Color-Theme-57-color-theme-7567416/
$light-blue: #7CAEAE;
$dark-blue: #496773;
$yellow: #E2BC7F;
$green: #A4AC71;
$pink: #D99282;

$light-gray: #f1f1f1;
$dark-gray: darken($light-gray, 50%);
$primary-background-color: #262626;
// $secondary-background-color: #237CBE;
// $tertiary-background-color: lighten(#dcdbd2, 11%);
$primary-text-color: #d3d3d3;
$secondary-text-color: #777;
$link-color: #F1f1f1;
$link-hover-color: darken($link-color, 20%);
// $errors-background-color: #FFC;
// $errors-text-color: #DC3D3D;
// $subdued-color: darken($primary-background-color, 20%);
// $flash-notice-color: #DBFFDD;
// $flash-alert-color:  #FFE1DE;
// $flash-danger-color: #FFA715;
// $fieldset-color: lighten($secondary-background-color, 50%);
