// COLORS
//https://color.adobe.com/Copy-of-Color-Theme-57-color-theme-7567416/
$light-blue: #7CAEAE;
$dark-blue: #496773;
$yellow: #E2BC7F;
$green: #A4AC71;
$pink: #D99282;

$light-gray: #f1f1f1;
$dark-gray: darken($light-gray, 50%);
$primary-background-color: #262626;
// $secondary-background-color: #237CBE;
// $tertiary-background-color: lighten(#dcdbd2, 11%);
$primary-text-color: #d3d3d3;
$secondary-text-color: #777;
$link-color: $light-blue;
$link-hover-color: darken($link-color, 20%);
// $errors-background-color: #FFC;
// $errors-text-color: #DC3D3D;
// $subdued-color: darken($primary-background-color, 20%);
// $flash-notice-color: #DBFFDD;
// $flash-alert-color:  #FFE1DE;
// $flash-danger-color: #FFA715;
// $fieldset-color: lighten($secondary-background-color, 50%);

// --------------------------------------------------------

// FONTS
$header-family: 'Nixie One', cursive;
// $body-family: verdana, arial, helvetica, sans-serif;
$body-family: 'Open Sans', sans-serif;
// $navbar-family: 'Gruppo', cursive;

// --------------------------------------------------------

// SCREEN SIZES
$galaxy-tab--portrait: 800px;
$galaxy-tab--landscape: 1280px;
$pixel-4a--portrait: 393px;
$pixel-4a--landscape: 851px;

// --------------------------------------------------------

// BOOTSTRAP BREAKPOINTS
// https://getbootstrap.com/docs/5.0/layout/breakpoints/#available-breakpoints

$bootstrap-breakpoint--xs: 576px; // <576px    | 0 - 575
$bootstrap-breakpoint--sm: 576px; // ≥576px    | 576 - 768
$bootstrap-breakpoint--md: 768px; // ≥768px    | 768 - 992
$bootstrap-breakpoint--lg: 992px; // ≥992px    | 992 - 1200
$bootstrap-breakpoint--xl: 1200px; // ≥1200px  | 1200 - 1400
$bootstrap-breakpoint--xxl: 1400px; // ≥1400px | 1400 + ...
