@import "colors";
@import "fonts";

.pagination {
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; 
    background-color: transparent;}
  .pagination .disabled {
    color: transparent;
    /*border: 1px solid #dddddd;*/ }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: $light-blue;
    color: white;
    /*border: 1px solid #2e6ab1;*/ }
  .pagination a {
    text-decoration: none;
    color: white;
    /*border: 1px solid #9aafe5;*/ }
    .pagination a:hover, .pagination a:focus {
      color: $dark-blue;
      /*border-color: #000033;*/ }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }


button.close {
  color: white; 
  text-shadow: none;
  border: none;
} /* button.close */
  
.button-main {
  a {
    color: $light-blue;
    border: 1px solid $dark-blue;
    padding: 5px 10px;
    border-radius: 5px;

    &:visited {
      color: $light-blue;
    }

    &:hover {
      color: $light-blue;
      background-color: darken($dark-blue, 10%);
      text-decoration: none;
    }
  } /* a */
} /* .button-main */



/* MODAL FOOTER BUTTONS */
.modal-footer {
  .btn { 
    a {
      color: black;

      &:visited {
        color: black;
      }

    } /* a */
  } /* .btn */
} /* .modal-footer */


/* MOVIE SHOW PAGE SIDEBAR */
.sidebar-button {
  a {
    width: 100%;
    display: block;
    color: $light-gray;
    border: 1px solid $dark-gray;
    padding: 5%;
    border-radius: 5px;
    text-align: center;

    &:visited {
      color: $light-gray;
    }

    &:hover {
      color: $light-gray;
      background-color: $dark-gray;
      text-decoration: none;
    }
  } /* a */
} /* .sidebar-button */
