@import 'variables';

div {
  &.field,
  &.actions {
    margin-bottom: 10px;
    label {
      font-family: $header-family;
      // font-size: .9em;
    } /* label */
  } /* field actions */
} /* div */
input[type='submit'] {
  color: $light-blue;
  border: 1px solid $dark-blue;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: transparent;
  &:hover {
    color: $light-blue;
    background-color: darken($dark-blue, 10%);
    text-decoration: none;
  } /* hover */
} /* input */

.share-container {
  border: 1px solid $dark-blue;
  border-radius: 5px;
  padding: 2%;
  width: 30%;
  min-width: 250px;
  float: right;
} /* .share-container */

.form-label {
  margin-bottom: 2px;
  clear: both;
  width: 100%;
} /* .form-label */

.form-container {
  width: 60%;
  max-width: 900px;
  min-width: 300px;
  float: left;
  margin-right: 20px;
} /* .form-container */

.form-control {
  width: 70%;
  float: left;
  margin-right: 3px;
  height: 35px;
  background-color: lighten($primary-background-color, 25%);
  color: $light-gray;
  border: 1px solid $dark-gray;
} /* .form-control */

.form-control-submit {
  text-align: center;
  height: 35px;
  width: auto;
  // padding: 0;
} /* .submit */

/* SEARCH FORM PAGES ONLY */
.search-form {
  width: 40%;
  margin-right: 10px;
  margin-bottom: 10px;
} /* .search-form */

.search-form-submit {
  height: 35px;
  width: auto;
} /* .submit */

/* NAV BAR ONLY */
.search-form-header {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
} /* .search-form-header */

/* LIST EDIT ONLY */
.edit-form,
.edit-form-submit {
  margin-bottom: 15px;
  clear: both;
} /* .edit-form */

.edit-form-submit {
  float: left;
} /* .edit-form-submit */

/* MOVIE INDEX PAGE ONLY */
.index-sort-dropdown {
  width: 30%;
  min-width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
} /* .index-sort-dropdown */

/* HOME PAGE SIGN IN & UP PAGES ONLY */
.pages-form {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: $light-gray;
  color: black;
} /* .pages-form */

.pages-form-submit {
  height: 35px;
  width: auto;
} /* .pages-form-submit */

// SMALL X TO DELETE TAGS OR LISTS THAT NEED TO BE BUTTON_TO

form.small-x {
  display: inline-block;
  & button {
    background: none;
    border: none;
    color: $light-blue;
    padding: 0;
  }
}

form#tag-form-modal,
form#new_listing {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .search-form {
    width: 100%;
    margin-bottom: 2%;
  } /* .search-form */
} /* 600px */
