form.small-x {
  display: inline-block;
  & button {
    background: none;
    border: none;
    color: var(--color-links);
    padding: 0;
  }
}

form input[type='text'] {
  height: 1.7rem;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px;
  margin: 5px 0;
}

form select {
  height: 1.7rem;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 5px 0;
}

.manage-screenings form {
  background: none;
}

.manage-screenings form button {
  background: none;
  border: none;
  color: var(--color-links);
}

form.new-edit input, textarea, select {
  width: 25%;
  margin-bottom: 1rem;
  height: 2rem;
}

form.new-edit textarea {
  height: 200px;
  padding: 10px;
}

form.new-edit label {
  font-weight: 500;
  color: var(--color-secondary);
  display: block;
}

form.new-edit input[type='submit'] {
  display: block;
}
