.main-nav {
  background: var(--color-secondary);
  color: var(--color-primary);
  overflow: auto;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav ul li {
  list-style: none;
  padding: 10px;
}

.main-nav a {
  text-decoration: none;
  color: var(--color-primary);
}

.main-nav #sign_out_nav_link {
  color: white;
}

.main-nav form.header-movie-search input {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px;
}

.menu-item { width: auto; }

/* hide the inputs/checkmarks and submenu */
.menu-item input, ul.dropdown-items {
  display: none;
  position: absolute;
  width: inherit;
}

.menu-item input, ul.dropdown-items li:hover {
  background: hsl(48, 89%, 60%);
}

.menu-item label {
  position: relative;
  display: block;
  cursor: pointer;
}

/* show the submenu when input is checked */
.menu-item input:checked~ul.dropdown-items {
  display: block;
  background: hsl(48, 89%, 45%);
  margin-top: 20px;
}


@media (max-width: 700px) {
  .main-nav form.header-movie-search input, #sign_out_nav_link {
    display: none;
  }

  .main-nav li:first-of-type {
    display: none;
  }
}
