@import "variables";



.row { margin: 10px 0px; }

.navbar-brand {
  font-family: $header-family;
  .logo-color {
    color: $light-blue;
  } /* .logo-color */
} /* .navbar-brand */


#header-movie-search input {
  width: 250px;
  margin-left: 40px;
}
