@import "colors";
@import "fonts";


.row {
  margin: 10px 0px; 
  // clear: both;
} /* .row */

.shover {
  height: 50px; 
} /* .shover */

.navbar-brand {
  font-family: $header-family; 
  .logo-color {
    color: $light-blue; 
  } /* .logo-color */  
} /* .navbar-brand */
