// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";
@import "fonts";

article#list {
  border: 1px solid $dark-blue;
  border-radius: 10px;
  margin-bottom: 20px;
  .list-image-stack-container {
    float: left;
    margin: 0px 15px 15px 15px;
    min-width: 200px;
    height: 85px;
    img {
      width: 50px;
      height: 75px;
      float: left;
      margin-right: -20px;
      border-left: 1px solid $primary-background-color;
      -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
      -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
      box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    } /* img */
    .missing-poster {
      width: 50px;
      height: 75px;
      float: left;
      margin-right: -20px;
      margin-top: 0px;
      font-size: 5px;
    } /* .missing-poster */

  } /* .list-image-stack-container */
  .list-details {
    width: 45%;
    max-width: 600px;
    float: left;
    margin-right: 15px;
  } /* .list-details */
  .list-mgt-links {
    width: 100px;
    float: right;
    margin-right: 15px;
  } /* .list-mgt-links */

  h2 {
    margin: 0px;
  } /* h2 */
  ul {
    list-style-type: none;
    padding: 0;
  } /* ul */
} /* article#list */

.count {
  font-size: 60%;
  color: $light-blue;
} /* .count */

@media screen and (max-width: 975px) {
  article#list {

    .list-details {
      // clear: both;
      margin-left: 15px;
      width: 70%;
      max-width: 650px;
    } /* .list-details */
    .list-mgt-links {
      float: right;
      margin-left: 15px;
    } /* .list-mgt-links */
  } /* article#list */

} /* 975px */

@media screen and (max-width: 670px) {

  article#list {
    .list-details {
      width: 95%;
    } /* .list-details */

    .list-mgt-links {
      // clear: both;
      float: left;
    } /* .list-mgt-links */

  } /* article#list */

} /* 670px */
