.media-show-page .media-flex {
  gap: 3rem;
  width: 60%;
  margin: auto;
}

.media-show-page form input[type='text'],
.media-show-page form select {
  width: 85%;
}

.modal form input[type='text'], .modal form select {
  width: 280px;
}

.embed-container iframe {
  border: 1px solid grey;
  aspect-ratio: 4 / 3;
}

.modal .embed-container iframe {
  width: 280px;
}

.media-show-page .embed-container iframe {
  width: 85%;
}

.media-show-page .headshot-container, .media-show-page .headshot-container img {
  width: 125px;
}

a.streaming-provider {
  display: block;
  font-size: 0.9rem;
  line-height: 1rem;
}

.manage-screenings .material-symbols-outlined.edit-note {
  position: relative;
  top: 7px;
}

.txt-sm.availability {
  font-size: 10px;
  margin-top: 20px;
}

.media-show-page {
  padding: 0 2rem;
}

.media-show-page .backdrop-image {
  display: flex;
  justify-content: center;
}

.backdrop-image img {
  width: 60%;
}

@media (max-width: 768px) {
  .media-show-page .backdrop-image {
    display: none;
  }

  .media-show-page .media-flex {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .media-show-page .image-screenings-providers-container {
    display: flex;
    gap: 20px;
  }
  .media-show-page .material-symbols-outlined {
    font-size: 10px;
    line-height: 1.5rem;
  }
  .media-show-page .watch-info img {
    width: 133px;
  }

  .media-show-page .txt-sm {
    margin-top: 5px;
  }
}
