.movies-container {
  padding: 30px 50px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 187px);
  gap: 20px;
  justify-content: center;
}

.movies-container__poster {
  transition: all 0.3s ease;
}

.movies-container__poster img {
  width: 100%;
  border-radius: 5px;
}

.movies-container__poster:hover {
  transform: scale(1.2);
  /* transform-origin: top; */
  cursor: pointer;
  transition-delay: 0.4s;
}


button.modal-linker {
  background: none;
  border: none;
  padding: 0;
}

.movie-flex {
  display: flex;
}

.movie-show-page .movie-flex {
  gap: 3rem;
  width: 60%;
  margin: auto;
}

.movie-show-page form input[type='text'],
.movie-show-page form select {
  width: 600px;
}

.modal form input[type='text'], .modal form select {
  width: 280px;
}

.embed-container iframe {
  border: 1px solid grey;
  aspect-ratio: 4 / 3;
}

.modal .embed-container iframe {
  width: 280px;
}

.movie-show-page .embed-container iframe {
  width: 600px;
}

a.streaming-provider {
  display: block;
  font-size: 0.9rem;
  line-height: 0.5rem;
}

.manage-screenings .material-symbols-outlined.edit-note {
  position: relative;
  top: 7px;
}

.txt-sm.avaliablity {
  font-size: 10px;
  margin-top: 20px;
}

/* SHOW PAGE */

.movie-show-page {
  padding: 0 2rem;
}

.movie-show-page .backdrop-image {
  display: flex;
  justify-content: center;
}

.backdrop-image img {
  width: 60%;
}

@media (max-width: 500px) {
  .movie-show-page .backdrop-image {
    display: none;
  }
  .movie-show-page .movie-flex {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .movie-show-page form input[type='text'],
  .movie-show-page form select {
    width: 280px;
  }

  .movie-show-page .embed-container iframe {
    width: 280px;
  }

  .movie-show-page .image-screenings-providers-container {
    display: flex;
    gap: 20px;
  }
  .movie-show-page .material-symbols-outlined {
    font-size: 10px;
    line-height: 1.5rem;
  }
  .movie-show-page .watch-info img {
    width: 133px;
  }

  .movie-show-page .txt-sm {
    margin-top: 5px;
  }
}

/* pixel 6 */
@media (max-width: 415px) {
  .movies-container {
    gap: 10px;
    grid-template-columns: 170px 170px;
  }
}

/* pixel 4 */
@media (max-width: 354px) {
  .movies-container {
    gap: 10px;
    grid-template-columns: 150px 150px;
  }
}
