@import "colors";
@import "fonts";

article.tile-cover-pic {
  float: left;
  margin: 0px 10px 10px 0px;
  width: 125px;
  height: 185px;
  overflow: hidden;
  img {
    width: 100%;        
  } /* img */
} /* article.tile-cover-pic */

.modal {
  color: black; 
  img {
    border: 1px solid #f1f1f1; 
  } /* img */  

  .watch-info {
    margin: 0 auto;
    margin-bottom: 8%;
    text-align: center;
    p {
      color: gray;
      font-size: 70%;
      font-style: italic;
     }  /* p */
     img {
       border: 0px solid white; 
     } /* img */
   }/* watch-info */

  .watch-link {
    text-align: center;
    max-width: 85px;
    max-height: 30px;
    margin: 8px 0px;
  }/* watch-link */

  .imdb-link {
    max-height: 15px;
  }/* imdb-link */
} /* .modal */

/* MOVIE SHOW PAGE */

.movie-show {
  a {
    color: $link-color;

    &:visited {
      color: $link-color;
    }

    &:hover {
      color: $link-hover-color;
      background-color: transparent;
      text-decoration: none;
    }
  }/* a */ 
} /* .movie-show */


#movie-splash-container {
  position: relative;
  z-index: 0;
  margin: 0 auto;
  width: 100%;
  height: 450px;

  #gradient-box {
    width: 100%;
    height: 450px;
    position: relative;
    z-index: 2;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* Standard syntax (must be last) */
    
  } /* gradient-box */

  .watch-info-show {
    color: black;
    background-color: white;
    border-radius: 10px 0px 0px 0px;
    padding: 5px 15px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    -moz-box-shadow:    -5px 5px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: -5px 5px 5px rgba(0,0,0,0.5);
    box-shadow:         -5px 5px 5px rgba(0,0,0,0.5);
    img {
       height: 20px;
       margin: 0 10px; 
     } /* img */
        
  } /* .watch-info-show */
    

   .backdrop-image {
    width: 100%;
    height: 450px;
    float: right;
    overflow: hidden;
    position: relative;
    z-index: 1;
    img {
      width: 100%; 
    } /* img */
  } /* .backdrop-image */

  
} /* .movie-splash-container */

.movie-bottom-details {
  clear: both; 
  position: relative;
  img {
    width: 100%; 
    margin-bottom: 10%;
  } /* img */
    
} /* .movie-bottom-details */







