@import "colors";
@import "fonts";

.tile-container {
  max-width: 800px;
} /* .tile-container */

article.tile-cover-pic {
  float: left;
  margin: 0px 10px 10px 0px;
  width: 125px;
  height: 185px;
  overflow: hidden;
  img {
    width: 100%;        
  } /* img */
} /* article.tile-cover-pic */

.modal-content {
   background-color: $primary-background-color;
} /* .modal-dialog */
  
.modal {
  img {
    border: 1px solid #000; 
  } /* img */  
  h1 {
    line-height: 99%;
    margin-bottom: 10px; 
  } /* h1 */
  .modal-spacer {
    margin-top: 5%; 
  } /* .modal-spacer */
    
    
  /* modal button links */
  .watch-info {
    margin-top: 10px;
    a {
      font-size: 93%;
      line-height: 120%;
      padding: 8% 2%;
    }/* a */
  } /* .watch-info */

  .watch-link {
    text-align: center;
    max-width: 85px;
    max-height: 30px;
    margin: 8px 0px;
  }/* watch-link */

  .imdb-link {
    max-height: 15px;
  }/* imdb-link */
} /* .modal */




/* MOVIE SHOW PAGE */

.movie-show {
  a {
    color: $link-color;

    &:visited {
      color: $link-color;
    }/* visited */

    &:hover {
      color: $link-hover-color;
      background-color: transparent;
      text-decoration: none;
    }/* hover */
  }/* a */ 

  .button-main {
    a {
      color: $light-blue;

      &:visited {
        color: $light-blue;
      }/* visited */

      &:hover {
        color: $light-blue;
        background-color: darken($dark-blue, 10%);
        text-decoration: none;
      } /* hover */
    }/* a */
  } /* .button-main */
      
  .sidebar-button {
    a {
      width: 100%;
      display: block;
      color: $light-gray;
      border: 1px solid $dark-gray;
      padding: 5%;
      border-radius: 5px;
      text-align: center;

      &:visited {
        color: $light-gray;
      }

      &:hover {
        color: $light-gray;
        background-color: $green;
        border: 1px solid darken($green, 20%);
        text-decoration: none;
      }
    } /* a */
  } /* .sidebar-button */
} /* .movie-show */


#movie-splash-container {
  position: relative;
  z-index: 0;
  margin: 0 auto;
  width: 100%;
  height: 450px;

  #gradient-box {
    width: 100%;
    height: 450px;
    position: relative;
    z-index: 2;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); /* Standard syntax (must be last) */
    
  } /* gradient-box */    

   .backdrop-image {
    width: 100%;
    height: 450px;
    float: right;
    overflow: hidden;
    position: relative;
    z-index: 1;
    img {
      width: 100%; 
    } /* img */
  } /* .backdrop-image */

  
} /* .movie-splash-container */

.movie-bottom-details {
  clear: both; 
  position: relative;
  .sidebar {
    max-width: 185px; 
    text-align: center;
    img {
      width: 100%; 
      margin-bottom: 10%;
    } /* img */
  } /* .sidebar */
} /* .movie-bottom-details */



/* MEDIA QUERIES */

// 2 movies = 320px
// 3 movies = 480pm
// 4 movies = 640px
// 5 movies = 800px

@media screen and (max-width: 990px) {

  article.movie-show {
    #gradient-box {
       height: 0px; 
       width: 0px;
       visibility: hidden;
     } /* gradient-box */
     #movie-splash-container {
       height: 300px;
       overflow: hidden;
       // max-height: 200px;
     } /* #movie-splash-container */

     .col-xs-6 {
        clear: both;
        margin-bottom: 5%;
        width: 100%;
        .form-control {
           width: 75%; 
         } /* .form-control */
      } /* .col-xs-6 */
   } /* article.movie-show */
}/* 990px */


@media screen and (max-width: 600px) {

  .tile-container {
    max-width: 320px;
  } /* .tile-container */

  article.movie-show {
   .backdrop-image, #movie-splash-container, #gradient-box {
     height: 0px; 
     visibility: hidden;
     float: left;
   } /* .backdrop-image */

  .backdrop-image {
    // width: 100%;
    // height: 300px;
    // float: right;
    img {
      height: 300px; 
    } /* img */
  } /* .backdrop-image */

  .col-xs-3 {
    clear: both;
    width: 100%; 
    .sidebar {
      float: left;
      max-width: 100%; 
      img {
        width: 45%; 
      } /* img */
      .mobile {
        float: right; 
      } /* .mobile */
    } /* .sidebar */
  } /* .col-xs-3 */

 .col-xs-9 {
   clear: both;
   width: 100%;
   .col-xs-6 {
      .form-control {
         width: 50%; 
       } /* .form-control */
       .form-control-submit {
         width: 20%;
       } /* .form-control-submit */   
    } /* .col-xs-6 */ 
   } /* .col-xs-9 */
 }/* article.movie-show */
} /* 600px */


@media screen and (max-width: 400px) {

  article.movie-show {
  .col-xs-3 {
    clear: both;
    width: 100%; 
    .sidebar {
      // float: left;
      width: 100%; 
      img {
        width: 50%;
        float: left; 
      } /* img */
      .mobile {
        max-width: 45%;
        float: right; 
      } /* .mobile */
    } /* .sidebar */
  } /* .col-xs-3 */
  }/* article.movie-show */

}/* 400px */


