@import "colors";


article.tile-cover-pic {
  float: left;
  margin: 0px 10px 10px 0px;
  width: 125px;
  height: 185px;
  overflow: hidden;
  img {
    width: 100%;        
  } /* img */
} /* article.tile-cover-pic */

.modal {
  color: black; 
  img {
    border: 1px solid #f1f1f1; 
  } /* img */  

  .watch-info {
    margin: 0 auto;
    margin-bottom: 8%;
    text-align: center;
    p {
      color: gray;
      font-size: 70%;
      font-style: italic;
     }  /* p */
     img {
       border: 0px solid white; 
     } /* img */
   }/* watch-info */

  .watch-link {
    text-align: center;
    max-width: 85px;
    max-height: 30px;
    margin: 8px 0px;
  }/* watch-link */

  .imdb-link {
    max-height: 15px;
  }/* imdb-link */
} /* .modal */

/* MOVIE SHOW PAGE */

.backdrop-container {
  position: absolute;
  width: 100%;
  z-index: 0;
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-attachment: fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;  
} /* .backdrop-container */


#gradient-box {
  position: relative;
    float: left;
    width: 75%;
    z-index: 1;
    padding-top: 50px;
    padding-right: 25%;
    background: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */
}





