@import "colors";
@import "fonts";

article#review {
  margin-top: 5%; 
  padding-bottom: 5px;
  border-bottom: 1px solid $light-blue;
  p {
     font-size: 120%;
     line-height: 150%;
     margin-bottom: 15px;
   } /* p */
   .quote-marks {
     font-size: 300%;
     vertical-align: -15px;
     color: $dark-blue;
     font-family: $header-family; 
   } /* .quote-marks */
     
   .button-main {
     font-size: 100%; 
     // margin-top: 10%;
   } /* .button-main */
      
} /* article#review */
