@import "variables";


body {
  background-color: $primary-background-color;
  color: $primary-text-color;
  font-size: 13px;
  line-height: 18px;
}

h1, h2, h3 {
  font-family: $header-family;
} /* h1, h2, h3 */

h1 {
  font-size: 40px;
} /* h1 */

h2 {
  font-size: 20px;
} /* h2 */

h3 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
} /* h3 */

p, ol, ul, td {
  font-family: $body-family;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* appears in modal */
a {
  color: $light-blue;

  &:visited {
    color: $light-blue;
  }

  &:hover {
    color: $dark-blue;
    background-color: transparent;
    text-decoration: none;
  }
}

a.cast-name-link {
  line-height: 190%;
  color: $light-blue;
  border: 1px solid $dark-blue;
  padding: 1px 4px;
  border-radius: 3px;
  margin-right: 3px;
  &:visited { color: $light-blue; }
  &:hover {
    color: $light-blue;
    background-color: darken($dark-blue, 10%);
    text-decoration: none;
  }
}

/* FORM PLACEHOLDER TEXT */
input::-webkit-input-placeholder {
color: white !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: white !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;
}

input:-ms-input-placeholder {
color: white !important;
}

#header-movie-search input::-webkit-input-placeholder {
  color: #262626 !important;
  text-align: left;
}

#header-movie-search input:-moz-placeholder { /* Firefox 18- */
  color: #262626 !important;
  text-align: center;
}

#header-movie-search input::-moz-placeholder {  /* Firefox 19+ */
  color: #262626 !important;
  text-align: center;
}

#header-movie-search input:-ms-input-placeholder {
  color: #262626 !important;
  text-align: center;
}


/* BOOTSTRAP */

.well {
  background-color: lighten($primary-background-color, 10%);
  border: 0px;
  overflow: auto;
}

/* FONT AWESOME */
.fa { line-height: 1.2; }

/* MATERIAL ICONS: https://fonts.google.com/ */
.material-symbols-outlined {
  font-size: 1.5rem;
  position: relative;
  bottom: -0.2em;
}


/* NOTICES & ALERTS */

#notice {
  color: $green;
}

#alert {
  color: $pink;
}

.field_with_errors {
  padding: 2px;
  background-color: $pink;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid $pink;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.pseudo-header {
  font-family: $header-family;
  font-weight: bold;
  text-transform: uppercase;
} /* .pseudo-header */


/* UTILITIES */
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mr-5 { margin-right: 5px; }
.ml-5 { margin-left: 5px; }
.txt-sm { font-size: 1rem; }


/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
  .share-container {
    margin-top: 20px;
    width: 100%;
    min-width: 250px;
    clear: both;
  } /* .share-container */

  .form-container {
    width: 100%;
    float: left;
    margin-right: 20px;
  } /* .form-container */

} /* 900px */

@media screen and (max-width: 360px) {
  .col-xs-3 {
    width: 100%;
    clear: both;
    margin-bottom: 10px;
  } /* .col-xs-3 */

} /* 360px */
