@import "colors";
@import "fonts";

body {
  background-color: $primary-background-color;
  color: $primary-text-color;
  font-size: 13px;
  line-height: 18px;
}

h1, h2, h3 {
  font-family: $header-family;
} /* h1, h2, h3 */

h1 {
  font-size: 40px; 
} /* h1 */

h2 {
  font-size: 20px; 
} /* h2 */

h3 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px; 
} /* h3 */

p, ol, ul, td {
  font-family: $body-family;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* appears in modal */
a {
  color: $light-blue;

  &:visited {
    color: $light-blue;
  }

  &:hover {
    color: $dark-blue;
    background-color: transparent;
    text-decoration: none;
  }
}

.tag-link {
  a {
    // font-size: 0.9em;
    color: $light-blue;
    border: 1px solid $dark-blue;
    padding: 1px 4px;
    border-radius: 3px;

    &:visited {
      color: $light-blue;
    }

    &:hover {
      color: $light-blue;
      background-color: darken($dark-blue, 10%);
      text-decoration: none;
    }
  } 
} /* .tag-link */

/* FORMS */

div {
  &.field, &.actions {
    margin-bottom: 10px;
    label {
      font-family: $header-family;
      // font-size: .9em; 
    } /* label */ 
  }/* field actions */
}/* div */
input[type="submit"] {
  color: $light-blue;
  border: 1px solid $dark-blue;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: transparent;
  &:hover {
    color: $light-blue;
    background-color: darken($dark-blue, 10%);
    text-decoration: none;
  }/* hover */
}/* input */

.share-container {
  border: 1px solid $dark-blue;
  border-radius: 5px;
  padding: 2%;
  width: 30%;
  min-width: 250px;
  float: right;
} /* .share-container */

.form-container {
  width: 60%;
  max-width: 900px;
  min-width: 300px;
  float: left;
  margin-right: 20px; 
} /* .form-container */

  


/* NOTICES & ALERTS */

#notice {
  color: $green;
}

#alert {
  color: $pink;
}

.field_with_errors {
  padding: 2px;
  background-color: $pink;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid $pink;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}



@media screen and (max-width: 900px) {
  .share-container {
    margin-top: 20px;
    width: 100%;
    min-width: 250px;
    clear: both;
  } /* .share-container */

  .form-container {
    width: 100%;
    float: left;
    margin-right: 20px; 
  } /* .form-container */

} /* 670px */
