.cast-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 125px);
  grid-template-rows: repeat(auto-fit, 225px);
  gap: 10px;
  justify-content: center;
}

.season-cast .cast-container {
  grid-template-rows: repeat(auto-fit, 275px);
}

.headshot-container img {
  width: 125px;
}

.headshot-container {
  width: 125px;
}

.cast-container .name-block {
  position: relative;
  width: 125px;
  top: -60px;
  min-height: 60px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.7);
}

.cast-container .name-block p {
  font-size: 0.85rem;
}

.seasons-container *:not(h2) {
  font-size: 1.2rem;
}

.poster-overview-container {
  display: flex;
  gap: 10px;
}

.poster-overview-container img {
  max-height: 278px;
}

.episode-container {
  display: flex;
  gap: 100px;
  padding: 10px;
}

.episode-image-overview-container {
  flex: 0 0 50%;
}

.guest-stars-container {
  flex-grow: 3;
}

.guest-stars-container ul {
  padding-left: 15px;
}

.episode-container img {
  display: block;
  margin-bottom: 10px;
}

ul.common-actor-results li {
  list-style: none;
  padding-left: 5px;
  line-height: 1.5rem;
}

@media (max-width: 768px) {
  .episode-container {
    display: block;
  }
}

/* pixel 6 */
@media (max-width: 415px) {
  .headshot-container img {
    width: 170px;
  }
  .cast-container {
    grid-template-columns: 170px 170px;
    column-gap: 20px;
    row-gap: 5px;
  }

  .cast-container .name-block {
    width: 170px;
  }
}

/* pixel 4 */
@media (max-width: 354px) {
  .headshot-container img {
    width: 140px;
  }
  .cast-container {
    column-gap: 20px;
    row-gap: 5px;
    grid-template-columns: 140px 140px;
  }

  .cast-container .name-block {
    width: 140px;
  }
}
