// Place all the styles related to the tmdb controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
@import "fonts";

.full-cast {
  h2 {
    display: block;
    width: 150px;
    //background-color: yellow; 
  } /* h2 */
    
} /* .full-cast */


.headshot-container {
  position: relative;
  z-index: 0;
  float: left;
  width: 150px;
  height: 225px;
  overflow: hidden; 
  border: 1px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
  img {
    height: 100%;
    // margin-right: 5px; 
  } /* img */
  .name-block {
    background-color: rgba(0, 0, 0, .8); 
    text-align: center;
    color: white;
    padding: 5% 2%;
    z-index: 2px;
    position: relative;
    bottom: 50px;
    left: 0;
    p {
      margin: 0px; 
    } /* p */
    .actor {
      font-size: 118%; 
    } /* .actor */
      
  } /* .name-block */
    
} /* .headshot-container */

article#profile {
  .summary-box {
    color: $light-gray;
    // border: 1px solid $dark-blue; 
    border-radius: 10px;
    overflow: auto;
    background-color: $dark-blue;
    margin-bottom: 2%;
    .stats {
      text-transform: uppercase;
      font-size: .9em;
      color: $light-blue; 
    } /* .stats */
      
    .contents {
      padding: 0% 3% 3% 3%; 
    } /* .contents */
    img {
     float: left;
     margin: 0% 3% 3% 3%;
   } /* img */
   .bio {
     font-size: 1.2em;
     line-height: 1.5em;
   } /* .bio */
  } /* .summary-box */
  .credits {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    h3 {
      display: block;
      border-bottom: 1px solid; 
     } /* h3 */   
     // img {
     //  width: 50px;
     // } /* img */       
  } /* .credits */
  .tv-credits {
    h3 {
    display: block;
    border-bottom: 1px solid; 
  } /* h3 */
 } /* .tv-credits */
} /* article#profile */


@media screen and (max-width: 975px) {
  article#profile {
    .credits {
      -webkit-columns: 1;
      -moz-columns: 1;
      columns: 1;  
    } /* .credits */
  } /* article#profile */
} /* 975px */

@media screen and (max-width: 400px) {
  article#profile {
    .summary-box {
      img {
         width: 100%;
         margin: 0% 0% 3% 0%; 
       } /* img */
          
    } /* .summary-box */
      
  } /* article#profile */
}/* 400 */
  
  