<article id="review">
  
  <h1>My Review</h1>
  <p>
    <strong><%= link_to "#{@review.movie.title}", movie_path(@review.movie) %>:</strong> 
</p>
    <p><span class="quote-marks">“</span><%= @review.body %><span class="quote-marks">”</span></p>

  <p class="button-main">
    <%= link_to 'Edit Review', edit_movie_review_path(@movie, @review) %> 
    <%= link_to 'Back to ' + @review.movie.title, movie_path(@movie) %>
  </p>

</article>
