<h1>My Review</h1>

<%= link_to "#{@review.movie.title}", movie_path(@review.movie) %>

<div class='mt-10 mb-20'>
  <%= @review.body %>
</div>

<%= link_to 'Edit Review', edit_movie_review_path(@movie, @review), class: 'btn' %>
<%= link_to 'Back to ' + @review.movie.title, movie_path(@movie), class: 'btn' %>

